.addNewTask {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: auto;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #fff;
    }
    .error {
        border: 1px solid red;
    }

    .addBtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            width: 26px;
            height: 26px;
            background-color: #fff;
            border-radius: 5px;
            transition: background-color 0.2s ease-in;
            &:hover {
                background-color: #f8f8f8;
            }
        }
    }
}

.errorMessage {
    color: red;
}